.venv
**/__pycache__/

data

trip_crawler/hotel_images

trip_crawler/.env
trip_crawler/config.py

.pytest_caches
trip_crawler/.pytest_caches
trip_crawler/htmlcov
trip_crawler/.coverage
trip_crawler/pytest

env.txt
help.txt